<div class="col-xs-12 heading-row">
  <div class="row">
<<<<<<< adminset_workflows
<<<<<<< adminset_workflows
    <%= render 'create_work_action' if can_ever_create_works? %>
=======
    <% if can_ever_create_works? %>
      <%= render 'create_work_action' %>
    <% end %>
>>>>>>> Add a modal when there are many types of works to select from
=======
    <%= render 'create_work_action' if can_ever_create_works? %>
>>>>>>> The 'New Work' link in the toolbar opens the modal
    <% if can?(:create, Collection) %>
        <div class="col-xs-6 col-sm-3 heading-tile">
          <%= link_to new_collection_path, id: "hydra-collection-add" do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%= t("sufia.dashboard.create_collection") %>
          <% end %>
        </div>
    <% end  %>
<<<<<<< adminset_workflows
<<<<<<< adminset_workflows
    <div class="col-xs-6 col-sm-3 heading-tile">
=======
    <div class="col-xs-6 col-sm-2 heading-tile">
>>>>>>> Reorder action links
=======
    <div class="col-xs-6 col-sm-3 heading-tile">
>>>>>>> Space the action icons evenly across the page
      <%= link_to sufia.dashboard_works_path  do %>
          <span class="glyphicon glyphicon-eye-open"></span>
          <%= t("sufia.dashboard.view_works") %>
      <% end %>
    </div>
<<<<<<< adminset_workflows
<<<<<<< adminset_workflows
    <div class="col-xs-6 col-sm-3 heading-tile">
=======
    <div class="col-xs-6 col-sm-2 heading-tile">
>>>>>>> Reorder action links
=======
    <div class="col-xs-6 col-sm-3 heading-tile">
>>>>>>> Space the action icons evenly across the page
      <%= link_to sufia.dashboard_collections_path, id: "hydra-collection-view" do %>
          <span class="glyphicon glyphicon-th"></span>
          <%= t("sufia.dashboard.view_collections") %>
      <% end %>
    </div>
  </div>
</div>
